################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App_Data/PublishProfiles
*.PublishSettings

/.vs/

/_NCrunch_RezaWebsite/

*.user

